{{ define "page" }}
    <div class="action-panel__form">

        {{ if .HtmxRedirect }}
            <span class="govuk-!-display-none"
                  hx-get="{{ prefix .HtmxRedirect }}"
                  hx-target=".action-panel__content"
                  hx-swap="{{ .HtmxSwap }}"
                  hx-trigger="load"
            ></span>
        {{ end }}

        {{ template "error-summary" .Error }}

        <a class="govuk-back-link"
           href=""
           hx-get="{{ prefix .PostUrl }}"
           hx-target=".action-panel__content"
           hx-swap="innerHTML show:#accordion-create-lpa-heading-3:top">Back</a>

        <h1 class="govuk-heading-m">{{ .Title }}</h1>

        <form class="form"
              method="POST"
              hx-post="{{ prefix (printf "/create-certificate-provider?id=%d&caseId=%d" .DonorId .CaseId) }}"
              hx-target=".action-panel__content"
              hx-swap="innerHTML">
            <input type="hidden" name="xsrfToken" value="{{ .XSRFToken }}"/>

            {{ template "certificate-provider" . }}

            <div class="govuk-button-group govuk-!-padding-top-5">
                <button class="govuk-button" data-module="govuk-button" type="submit">Save</button>
                {{ if .CanAddActor }}
                    <input class="govuk-button" data-module="govuk-button" type="submit" name="add-another" value="Save and add a second certificate provider" />
                {{ end }}
                <a class="govuk-link govuk-link--no-visited-state"
                   href=""
                   hx-get="{{ prefix (printf "/create-lpa?id=%d&caseId=%d#accordion-create-lpa-heading-3" .DonorId .CaseId) }}"
                   hx-target=".action-panel__content"
                   hx-swap="innerHTML show:#accordion-create-lpa-heading-3:top">Cancel</a>
            </div>
        </form>
    </div>
{{ end }}