{{ define "certificate-provider" }}
    {{ template "input" (field "salutation" "Title" .CertificateProvider.Salutation .Error.Field.salutation) }}
    {{ template "input" (field "firstname" "First name" .CertificateProvider.Firstname .Error.Field.firstname) }}
    {{ template "input" (field "middlenames" "Middle names" .CertificateProvider.Middlenames .Error.Field.middlenames) }}
    {{ template "input" (field "surname" "Last name" .CertificateProvider.Surname .Error.Field.surname) }}

    <div class="govuk-form-group" data-module="app-address-finder" data-app-address-finder-label="Address" data-app-address-finder-fill-country="false">
        {{ template "input" (field "addressLine1" "Address line 1" .CertificateProvider.AddressLine1 .Error.Field.addressLine1 "data-app-address-finder-map" "addressLine1") }}
        {{ template "input" (field "addressLine2" "Address line 2" .CertificateProvider.AddressLine2 .Error.Field.addressLine2 "data-app-address-finder-map" "addressLine2") }}
        {{ template "input" (field "addressLine3" "Address line 3" .CertificateProvider.AddressLine3 .Error.Field.addressLine3 "data-app-address-finder-map" "addressLine3") }}
        {{ template "input" (field "town" "Town" .CertificateProvider.Town .Error.Field.town "data-app-address-finder-map" "town" "class" "govuk-!-width-two-thirds") }}
        {{ template "input" (field "county" "County" .CertificateProvider.County .Error.Field.county) }}
        {{ template "input" (field "postcode" "Postcode" .CertificateProvider.Postcode .Error.Field.postcode "data-app-address-finder-map" "postcode" "class" "govuk-!-width-two-thirds") }}
        {{ template "input" (field "country" "Country" .CertificateProvider.Country .Error.Field.country "data-app-address-finder-map" "country") }}
    </div>
{{ end }}