{{ define "create-lpa" }}
  <button class="govuk-visually-hidden" tabindex="-1" aria-hidden="true" data-module="govuk-button" type="submit"></button>
  <input type="hidden" name="xsrfToken" value="{{ .XSRFToken }}"/>

  <div class="govuk-accordion govuk-accordion--scroll-sections" data-module="govuk-accordion" id="accordion-create-lpa">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-create-lpa-heading-1">
              Section 2–4: Attorney and appointment type
          </span>
        </h2>
      </div>
      <div id="accordion-create-lpa-content-1" class="govuk-accordion__section-content">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              LPA details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <div class="govuk-form-group {{ if .Error.Field.caseSubtype }}govuk-form-group--error{{ end }}">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">LPA type</legend>
                {{ template "errors" .Error.Field.caseSubtype }}
                <div class="govuk-radios app-!-radios--inline {{ if .Error.Field.caseSubtype }}govuk-radios--error{{ end }}" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-caseSubtype" name="caseSubtype" type="radio"
                           value="pfa" {{ if eq .Lpa.SubType "pfa" }}checked{{ end }} data-module="app-lpa-form-subtype-input">
                    <label class="govuk-label govuk-radios__label" for="f-caseSubtype">PFA</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-caseSubtype-2" name="caseSubtype" type="radio"
                           value="hw" {{ if eq .Lpa.SubType "hw" }}checked{{ end }} data-module="app-lpa-form-subtype-input">
                    <label class="govuk-label govuk-radios__label" for="f-caseSubtype-2">HW</label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group {{ if .Error.Field.applicationType }}govuk-form-group--error{{ end }}">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Application type</legend>
                {{ template "errors" .Error.Field.applicationType }}
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-applicationType" name="applicationType" type="radio"
                           value="Online" data-aria-controls="onlineLpaIdReveal"
                           {{ if eq .Lpa.ApplicationType "Online" }}checked{{ end }}>
                    <label class="govuk-label govuk-radios__label" for="f-applicationType">Online</label>
                  </div>
                  <div class="govuk-radios__conditional {{ if ne .Lpa.ApplicationType "Online" }}govuk-radios__conditional--hidden{{ end }}"
                       id="onlineLpaIdReveal">
                    <div class="govuk-form-group">
                      {{ template "input" (field "onlineLpaId" "A-reference" .Lpa.OnlineLpaId .Error.Field.onlineLpaId) }}
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-applicationType-2" name="applicationType" type="radio"
                           value="Classic" {{ if eq .Lpa.ApplicationType "Classic" }}checked{{ end }}>
                    <label class="govuk-label govuk-radios__label" for="f-applicationType-2">Classic</label>
                  </div>
                </div>
              </fieldset>
            </div>

            {{ if .CanEditReceiptDate }}
              {{ template "input-date" (field "receiptDate" "Receipt date" .Lpa.ReceiptDate .Error.Field.receiptDate "max" today "boldLabel" true) }}
            {{ else }}
              <div class="govuk-form-group">
                <label class="govuk-label"><strong>Receipt date</strong></label>
                <p class="govuk-body" id="f-receiptDate-readonly">{{ if .Lpa.ReceiptDate }}{{ formatDate .Lpa.ReceiptDate }}{{ else }}Not yet set{{ end }}</p>
              </div>
            {{ end }}
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Attorneys
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            {{ if gt (len .Lpa.Attorneys) 0 }}
              {{ range $attorney := .Lpa.Attorneys }}
                <div class="app-create-lpa__details-row">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary app-table__row--half-width">
                      <span class="govuk-details__summary-text">{{ if .Salutation }}{{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}</span>
                    </summary>
                    <div class="govuk-details__text">
                      {{ template "person-details-table" . }}
                    </div>
                  </details>
                  <span class="app-create-lpa__summary-update-link">
                    {{ if eq (stringifyBoolPointer .SystemStatus) "true" }}
                      {{ template "status-tag" (statusTag "Active" "green") }}
                    {{ else }}
                      {{ template "status-tag" (statusTag "Inactive" "red") }}
                    {{ end }}
                    <button class="app-create-lpa__summary-update-button govuk-link govuk-link--no-visited-state"
                            id="f-update-attorney-{{ .ID }}"
                            name="updateAttorney"
                            type="submit"
                            value="{{ .ID }}"
                            disabled="disabled"
                    >
                      Update
                      <span class="govuk-visually-hidden">
                          attorney{{ if .Salutation }} {{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}
                      </span>
                    </button>
                </span>
                </div>
              {{ end }}
            {{ end }}
            <div class="govuk-button-group app-button-group--column">
              <input class="govuk-button govuk-button--secondary" data-module="govuk-button"
                     type="submit" data-disable-after-click="true" name="addAttorney"
                     value="Add attorney"/>
            </div>
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Appointment type
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <div class="govuk-form-group {{ if .Error.Field.appointmentType }}govuk-form-group--error{{ end }}">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-visually-hidden">Appointment type</legend>
                {{ template "errors" .Error.Field.appointmentType }}
                <div class="govuk-radios {{ if .Error.Field.appointmentType }}govuk-radios--error{{ end }}" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-caseAttorney" name="caseAttorney" type="radio"
                           value="singular" {{ if eq .AppointmentType "singular" }}checked{{ end }}>
                    <label class="govuk-label govuk-radios__label" for="f-caseAttorney">Only one attorney appointed</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-caseAttorney-2" name="caseAttorney" type="radio"
                           value="jointly-and-severally" {{ if eq .AppointmentType "jointly-and-severally" }}checked{{ end }}>
                    <label class="govuk-label govuk-radios__label" for="f-caseAttorney-2">Jointly and severally</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-caseAttorney-3" name="caseAttorney" type="radio"
                           value="jointly" {{ if eq .AppointmentType "jointly" }}checked{{ end }}>
                    <label class="govuk-label govuk-radios__label" for="f-caseAttorney-3">Jointly</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-caseAttorney-4" name="caseAttorney" type="radio"
                           value="jointly-and-jointly-and-severally" {{ if eq .AppointmentType "jointly-and-jointly-and-severally" }}checked{{ end }}>
                    <label class="govuk-label govuk-radios__label" for="f-caseAttorney-4">Jointly for some, jointly and severally for others</label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Replacement attorneys
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            {{ if gt (len .Lpa.ReplacementAttorneys) 0 }}
              {{ range $attorney := .Lpa.ReplacementAttorneys }}
                <div class="app-create-lpa__details-row">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">{{ if .Salutation }}{{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}</span>
                    </summary>
                    <div class="govuk-details__text">
                      {{ template "person-details-table" . }}
                    </div>
                  </details>
                  <span class="app-create-lpa__summary-update-link">
                    <button class="app-create-lpa__summary-update-button govuk-link govuk-link--no-visited-state"
                            id="f-update-replacementAttorney-{{ .ID }}"
                            name="updateReplacementAttorney"
                            type="submit"
                            value="{{ .ID }}"
                    >
                      Update
                      <span class="govuk-visually-hidden">
                          replacement attorney{{ if .Salutation }} {{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}
                      </span>
                    </button>
                  </span>
                </div>
              {{ end }}
            {{ end }}
            <div class="govuk-button-group app-button-group--column">
              <input class="govuk-button govuk-button--secondary" data-module="govuk-button"
                     type="submit" name="addReplacementAttorney" data-disable-after-click="true"
                     value="Add replacement attorney"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-create-lpa-heading-2">
              Section 5–8: LPA instructions and notified people
          </span>
        </h2>
      </div>
      <div id="accordion-create-lpa-content-2" class="govuk-accordion__section-content">
        <div class="govuk-summary-card">
          <div data-module="app-lpa-form-subtype-hw">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Life sustaining treatment (LST)
              </h2>
            </div>
            <div class="govuk-summary-card__content">
              <div class="govuk-form-group {{ if .Error.Field.lifeSustainingTreatment }}govuk-form-group--error{{ end }}">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-visually-hidden">Life sustaining treatment</legend>
                  {{ template "errors" .Error.Field.lifeSustainingTreatment }}
                  <div class="govuk-radios app-!-radios--inline {{ if .Error.Field.lifeSustainingTreatment }}govuk-radios--error{{ end }}" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="f-lifeSustainingTreatment" name="lifeSustainingTreatment" type="radio"
                             value="Option A" {{ if eq .Lpa.LifeSustainingTreatment "Option A" }}checked{{ end }}>
                      <label class="govuk-label govuk-radios__label" for="f-lifeSustainingTreatment">Option A</label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="f-lifeSustainingTreatment-2" name="lifeSustainingTreatment" type="radio"
                             value="Option B" {{ if eq .Lpa.LifeSustainingTreatment "Option B" }}checked{{ end }}>
                      <label class="govuk-label govuk-radios__label" for="f-lifeSustainingTreatment-2">Option B</label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="f-lifeSustainingTreatment-3" name="lifeSustainingTreatment" type="radio"
                             value="None" {{ if eq .Lpa.LifeSustainingTreatment "None" }}checked{{ end }}>
                      <label class="govuk-label govuk-radios__label" for="f-lifeSustainingTreatment-3">Neither selected</label>
                    </div>
                  </div>
                </fieldset>
              </div>
              {{ template "input-date" (field "lifeSustainingTreatmentSignatureDate" "Date signed" .Lpa.LifeSustainingTreatmentSignatureDateA .Error.Field.lifeSustainingTreatmentSignatureDate) }}
              <div class="govuk-form-group {{ if .Error.Field.lifeSustainingTreatmentSignedAndWitnessed }}govuk-form-group--error{{ end }}">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Signed and witnessed correctly</legend>
                  {{ template "errors" .Error.Field.lifeSustainingTreatmentSignedAndWitnessed }}
                  <div class="govuk-radios app-!-radios--inline {{ if .Error.Field.lifeSustainingTreatmentSignedAndWitnessed }}govuk-radios--error{{ end }}" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="f-lifeSustainingTreatmentSignedAndWitnessed" name="lifeSustainingTreatmentSignedAndWitnessed" type="radio"
                             value="true" {{ if compareBoolPointers .Lpa.LifeSustainingTreatmentSignedAndWitnessed true }}checked{{ end }}>
                      <label class="govuk-label govuk-radios__label" for="f-lifeSustainingTreatmentSignedAndWitnessed">Yes</label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="f-lifeSustainingTreatmentSignedAndWitnessed-2" name="lifeSustainingTreatmentSignedAndWitnessed" type="radio"
                             value="false" {{ if compareBoolPointers .Lpa.LifeSustainingTreatmentSignedAndWitnessed false }}checked{{ end }}>
                      <label class="govuk-label govuk-radios__label" for="f-lifeSustainingTreatmentSignedAndWitnessed-2">No</label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <div data-module="app-lpa-form-subtype-pfa">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                When can the LPA be used?
              </h2>
            </div>
            <div class="govuk-summary-card__content">
              <div class="govuk-form-group {{ if .Error.Field.attorneyActDecisions }}govuk-form-group--error{{ end }}">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-visually-hidden">When can the LPA be used?</legend>
                  {{ template "errors" .Error.Field.attorneyActDecisions }}
                  <div class="govuk-radios app-!-radios--inline {{ if .Error.Field.attorneyActDecisions }}govuk-radios--error{{ end }}" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="f-attorneyActDecisions" name="attorneyActDecisions" type="radio"
                             value="When Registered" {{ if eq .Lpa.AttorneyActDecisions "When Registered" }}checked{{ end }}>
                      <label class="govuk-label govuk-radios__label" for="f-attorneyActDecisions">When registered</label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="f-attorneyActDecisions-2" name="attorneyActDecisions" type="radio"
                             value="Loss of capacity" {{ if eq .Lpa.AttorneyActDecisions "Loss of capacity" }}checked{{ end }}>
                      <label class="govuk-label govuk-radios__label" for="f-attorneyActDecisions-2">Loss of capacity</label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Notified person
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            {{ if gt (len .Lpa.NotifiedPersons) 0 }}
              {{ range $notifiedPerson := .Lpa.NotifiedPersons }}
                <div class="app-create-lpa__details-row">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">{{ if .Salutation }}{{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}</span>
                    </summary>
                    <div class="govuk-details__text">
                      {{ template "person-details-table" . }}
                    </div>
                  </details>
                  <span class="app-create-lpa__summary-update-link">
                    <button class="app-create-lpa__summary-update-button govuk-link govuk-link--no-visited-state"
                            id="f-update-notifiedPerson-{{ .ID }}"
                            name="updateNotifiedPerson"
                            type="submit"
                            value="{{ .ID }}"
                    >
                      Update
                      <span class="govuk-visually-hidden">
                          notified person{{ if .Salutation }} {{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}
                      </span>
                    </button>
                </span>
                </div>
              {{ end }}
            {{ end }}
            {{ if .AllowNewNotifiedPerson }}
              <div class="govuk-button-group app-button-group--column">
                <input class="govuk-button govuk-button--secondary" data-module="govuk-button"
                       type="submit" data-disable-after-click="true" name="addNotifiedPerson"
                       value="Add notified person"/>
              </div>
            {{ end }}
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Preferences and instructions
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <div class="govuk-form-group {{ if .Error.Field.preferencesAndInstructions }}govuk-form-group--error{{ end }}">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-visually-hidden">Does the donor have any preferences or instructions?</legend>
                {{ template "errors" .Error.Field.preferencesAndInstructions }}
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-preferencesAndInstructions" name="preferencesAndInstructions"
                           type="checkbox" value="guidance"
                           {{ if compareBoolPointers .Lpa.ApplicationHasGuidance true }}checked{{ end }}>
                    <label class="govuk-label govuk-checkboxes__label" for="f-preferencesAndInstructions">
                      Preferences
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-preferencesAndInstructions-2" name="preferencesAndInstructions"
                           type="checkbox" value="restrictions"
                           {{ if compareBoolPointers .Lpa.ApplicationHasRestrictions true }}checked{{ end }}>
                    <label class="govuk-label govuk-checkboxes__label" for="f-preferencesAndInstructions-2">
                      Instructions
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-preferencesAndInstructions-3" name="preferencesAndInstructions"
                           type="checkbox" value="none" data-behaviour="exclusive"
                           {{ if and (compareBoolPointers .Lpa.ApplicationHasGuidance false) (compareBoolPointers .Lpa.ApplicationHasRestrictions false) }}checked{{ end }}>
                    <label class="govuk-label govuk-checkboxes__label" for="f-preferencesAndInstructions-3">
                      None
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-create-lpa-heading-3">
              Section 9–11: Signatures and Certificate Provider details
          </span>
        </h2>
      </div>
      <div id="accordion-create-lpa-content-3" class="govuk-accordion__section-content">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Signatures and certificate provider details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <h3 class="govuk-heading-s">LPA donor</h3>
            <p class="govuk-body">{{ .DonorName }}</p>
            {{ template "input-date" (field "lpaDonorSignatureDate" "Date signed" .Lpa.LpaDonorSignatureDate .Error.Field.lpaDonorSignatureDate) }}

            <h3 class="govuk-heading-s">Certificate provider</h3>
            {{ if gt (len .Lpa.CertificateProviders) 0 }}
              {{ range $cp := .Lpa.CertificateProviders }}
                <div class="app-create-lpa__details-row">
                  <details class="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">{{ if .Salutation }}{{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}</span>
                    </summary>
                    <div class="govuk-details__text">
                      {{ template "person-details-table" . }}
                    </div>
                  </details>
                  <span class="app-create-lpa__summary-update-link">
                    <button class="app-create-lpa__summary-update-button govuk-link govuk-link--no-visited-state"
                            id="f-update-certificate-provider-{{ .ID }}"
                            name="updateCertificateProvider"
                            type="submit"
                            value="{{ .ID }}"
                    >Update
                      <span class="govuk-visually-hidden">
                        certificate provider{{ if .Salutation }} {{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}
                      </span>
                    </button>
                  </span>
                  <div class="govuk-form-group">
                    <input class="govuk-input" type="text" placeholder="DD/MM/YYYY" />
                  </div>
                </div>
              {{ end }}
            {{ end }}
            <div class="govuk-button-group app-button-group--column">
              <input class="govuk-button govuk-button--secondary" data-module="govuk-button"
                     type="submit" data-disable-after-click="true"
                     name="addCertificateProvider" {{ if gt (len .Lpa.CertificateProviders) 1 }}disabled{{ end }} value="Add Certificate Provider"/>
            </div>

            {{ if gt (len .Lpa.Attorneys) 0 }}
              <h3 class="govuk-heading-s">Attorneys</h3>
              {{ range $attorney := .Lpa.Attorneys }}
                <div class="govuk-form-group">
                  <label class="govuk-label">{{ if .Salutation }}{{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}</label>
                  {{ template "input-date" (field (printf "lpaPartCSignatureDate-%d" .ID) "Date signed" .LpaPartCSignatureDate $.Error.Field.lpaPartCSignatureDate "max" today) }}
                </div>
              {{ end }}
            {{ end }}
            {{ if gt (len .Lpa.ReplacementAttorneys) 0 }}
              <h3 class="govuk-heading-s">Replacement attorneys</h3>
              {{ range $attorney := .Lpa.ReplacementAttorneys }}
                <div class="govuk-form-group">
                  <label class="govuk-label">{{ if .Salutation }}{{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}</label>
                  {{ template "input-date" (field (printf "lpaPartCSignatureDate-%d" .ID) "Date signed" .LpaPartCSignatureDate $.Error.Field.lpaPartCSignatureDate "max" today) }}
                </div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-create-lpa-heading-4">
              Section 12–15: Application form
          </span>
        </h2>
      </div>
      <div id="accordion-create-lpa-content-4" class="govuk-accordion__section-content">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Applicant
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <div class="govuk-form-group {{ if .Error.Field.applicantType }}govuk-form-group--error{{ end }}">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Who is applying to register the Lasting Power of Attorney?</legend>
                {{ template "errors" .Error.Field.applicantType }}
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-applicantType" name="applicantType" type="radio"
                           value="donor" {{ if eq .Lpa.ApplicantType "donor" }}checked{{ end }}>
                    <label class="govuk-label govuk-radios__label" for="f-applicantType">Donor</label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="f-applicantType-2" name="applicantType" type="radio"
                           value="attorney" data-aria-controls="applicantAttorneysReveal"
                           {{ if eq .Lpa.ApplicantType "attorney" }}checked{{ end }}>
                    <label class="govuk-label govuk-radios__label" for="f-applicantType-2">Attorney</label>
                  </div>
                  <div class="govuk-radios__conditional {{ if ne .Lpa.ApplicantType "attorney" }}govuk-radios__conditional--hidden{{ end }}"
                       id="applicantAttorneysReveal">
                    {{ range $attorney := .Lpa.Attorneys }}
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="f-applicantIds-{{ .ID }}" name="applicantIds"
                               type="checkbox" value="{{ .ID }}">
                        <label class="govuk-label govuk-checkboxes__label" for="f-applicantIds-{{ .ID }}">
                          {{ if .Salutation }}{{ .Salutation }}{{ end }}{{ if .Firstname }} {{ .Firstname }}{{ end }}{{ if .Middlenames }} {{ .Middlenames }}{{ end }}{{ if .Surname }} {{ .Surname }}{{ end }}
                        </label>
                      </div>
                    {{ end }}
                  </div>
                </div>
              </fieldset>
            </div>
            {{ template "input-date" (field "applicantSignatureDate" "Date signed" .Lpa.ApplicantSignatureDate .Error.Field.applicantSignatureDate) }}
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Correspondent
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            {{ if .Lpa.Correspondent }}
              <p class="govuk-heading-s">Correspondent:</p>
              <div class="app-create-lpa__details-row">
                <details class="govuk-details">
                  <summary class="govuk-details__summary app-table__row--half-width">
                    <span class="govuk-details__summary-text">{{ if .Lpa.Correspondent.Salutation }}{{ .Lpa.Correspondent.Salutation }}{{ end }}{{ if .Lpa.Correspondent.Firstname }} {{ .Lpa.Correspondent.Firstname }}{{ end }}{{ if .Lpa.Correspondent.Middlenames }} {{ .Lpa.Correspondent.Middlenames }}{{ end }}{{ if .Lpa.Correspondent.Surname }} {{ .Lpa.Correspondent.Surname }}{{ end }}</span>
                  </summary>
                  <div class="govuk-details__text">
                    {{ template "person-details-table" .Lpa.Correspondent }}
                  </div>
                </details>
                <span class="app-create-lpa__summary-update-link">
                  <button class="app-create-lpa__summary-update-button govuk-link govuk-link--no-visited-state"
                          id="f-update-correspondent-{{ .Lpa.Correspondent.ID }}"
                          name="updateCorrespondent"
                          type="submit"
                          value="{{ .Lpa.Correspondent.ID }}"
                  >
                    Update
                    <span class="govuk-visually-hidden">
                      correspondent{{ if .Lpa.Correspondent.Salutation }} {{ .Lpa.Correspondent.Salutation }}{{ end }}{{ if .Lpa.Correspondent.Firstname }} {{ .Lpa.Correspondent.Firstname }}{{ end }}{{ if .Lpa.Correspondent.Middlenames }} {{ .Lpa.Correspondent.Middlenames }}{{ end }}{{ if .Lpa.Correspondent.Surname }} {{ .Lpa.Correspondent.Surname }}{{ end }}
                    </span>
                  </button>
                </span>
              </div>
            {{ else }}
              <div class="govuk-button-group app-button-group--column">
                <input class="govuk-button govuk-button--secondary"
                       data-module="govuk-button" type="submit" data-disable-after-click="true"
                       name="addCorrespondent" value="Add correspondent"/>
              </div>
            {{ end }}
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Application fee
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <div class="govuk-form-group {{ if .Error.Field.applicationFee }}govuk-form-group--error{{ end }}">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-visually-hidden">How is the application fee being paid?</legend>
                {{ template "errors" .Error.Field.applicationFee }}
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-applicationFee" name="applicationFee"
                           type="checkbox" value="card" data-aria-controls="cardPaymentContactReveal"
                           {{ if compareBoolPointers .Lpa.PaymentByDebitCreditCard true }}checked{{ end }}>
                    <label class="govuk-label govuk-checkboxes__label" for="f-applicationFee">
                      Pay fee by credit or debit card
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional {{ if not (compareBoolPointers .Lpa.PaymentByDebitCreditCard true) }}govuk-checkboxes__conditional--hidden{{ end }}"
                       id="cardPaymentContactReveal">
                    <div class="govuk-form-group">
                      {{ template "input" (field "cardPaymentContact" "Contact details for credit or debit card" .Lpa.CardPaymentContact .Error.Field.cardPaymentContact) }}
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-applicationFee-2" name="applicationFee"
                           type="checkbox" value="cheque"
                           {{ if compareBoolPointers .Lpa.PaymentByCheque true }}checked{{ end }}>
                    <label class="govuk-label govuk-checkboxes__label" for="f-applicationFee-2">
                      Cheque enclosed
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-applicationFee-3" name="applicationFee"
                           type="checkbox" value="reducedFee" data-aria-controls="reducedFeeTypeReveal"
                           {{ if or (compareBoolPointers .Lpa.PaymentExemption true) (compareBoolPointers .Lpa.PaymentRemission true) }}checked{{ end }}>
                    <label class="govuk-label govuk-checkboxes__label" for="f-applicationFee-3">
                      Apply for a reduced fee
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional {{ if not (or (compareBoolPointers .Lpa.PaymentExemption true) (compareBoolPointers .Lpa.PaymentRemission true)) }}govuk-checkboxes__conditional--hidden{{ end }}"
                       id="reducedFeeTypeReveal">
                    {{ $reducedFeeType := "" }}
                    {{ if compareBoolPointers .Lpa.PaymentExemption true }}{{ $reducedFeeType = "exemption" }}{{ end }}
                    {{ if compareBoolPointers .Lpa.PaymentRemission true }}{{ $reducedFeeType = "remission" }}{{ end }}
                    <div class="govuk-form-group {{ if .Error.Field.reducedFeeType }}govuk-form-group--error{{ end }}">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Reduced fee type</legend>
                        {{ template "errors" .Error.Field.reducedFeeType }}
                        <div class="govuk-radios app-!-radios--inline {{ if .Error.Field.reducedFeeType }}govuk-radios--error{{ end }}" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="f-reducedFeeType" name="reducedFeeType" type="radio"
                                   value="exemption" {{ if eq $reducedFeeType "exemption" }}checked{{ end }}>
                            <label class="govuk-label govuk-radios__label" for="f-reducedFeeType">Exemption</label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="f-reducedFeeType-2" name="reducedFeeType" type="radio"
                                   value="remission" {{ if eq $reducedFeeType "remission" }}checked{{ end }}>
                            <label class="govuk-label govuk-radios__label" for="f-reducedFeeType-2">Remission</label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="f-applicationFee-4" name="applicationFee"
                           type="checkbox" value="repeatApplication" data-aria-controls="repeatApplicationReferenceReveal"
                           {{ if compareBoolPointers .Lpa.RepeatApplication true }}checked{{ end }}>
                    <label class="govuk-label govuk-checkboxes__label" for="f-applicationFee-4">
                      Repeat application
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional {{ if not (compareBoolPointers .Lpa.RepeatApplication true) }}govuk-checkboxes__conditional--hidden{{ end }}"
                       id="repeatApplicationReferenceReveal">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="f-repeatApplicationReference">Repeat application reference</label>
                      <input class="govuk-input" id="f-repeatApplicationReference" name="repeatApplicationReference"
                             value="{{ .Lpa.RepeatApplicationReference }}" disabled="disabled"/>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Any other information
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <div class="govuk-form-group">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="f-anyOtherInfo" name="anyOtherInfo"
                         type="checkbox" value="true" data-aria-controls="additionalInfoReveal"
                         {{ if compareBoolPointers .Lpa.AnyOtherInfo true }}checked{{ end }}>
                  <label class="govuk-label govuk-checkboxes__label" for="f-anyOtherInfo">
                    Yes
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional {{ if not (compareBoolPointers .Lpa.AnyOtherInfo true) }}govuk-checkboxes__conditional--hidden{{ end }}"
                     id="additionalInfoReveal">
                  <div class="govuk-form-group">
                    {{ template "textarea" (field "additionalInfo" "Give details" .Lpa.AdditionalInfo .Error.Field.additionalInfo) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
